.sc {
  display: flex;
  margin-left: 135px;
  margin-right: 385px;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 10px 20px rgba(161, 161, 161, 0.19),
    0 6px 6px rgba(173, 173, 173, 0.23);
}
.commentTitleIcon {
  font-size: 12px;
  margin-right: 10px;
}
.commentTitle {
  padding-bottom: 20px;
  font-family: Outfit;
}
.sc-reply-user {
  font-family: Outfit;
  font-size: 14px;
  margin-bottom: 5px;
}
.commmentIcon {
  font-size: 15px;
  margin-left: 10px;
  color: rgb(255, 146, 5);
}
.sc-heading {
  font-family: Outfit;
  font-size: 25px;
  color: rgb(35, 42, 56);
}
.sc-textarea {
  border-radius: 0px;
  font-family: Outfit;
  padding: 10px;
  font-size: 15px;

  border: 1px solid rgb(201, 192, 192);
}
.sc-textarea:focus {
  outline: none;
}
.sc-form {
  display: flex;
  flex-direction: column;
}
.sc-button {
  font-family: Outfit;
  border: 1px solid rgb(201, 192, 192);
  border-radius: 0px;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.sc-button:hover {
  border: 1px solid rgb(201, 192, 192);
  border-radius: 0px;
  padding: 5px;
  color: aliceblue;
  background-color: rgb(199, 199, 199);
}
.cc {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
.cc-userInfo {
  display: flex;
  flex-direction: row;
  color: rgb(107, 107, 107);
  flex-wrap: wrap;
  font-family: Outfit;
  margin-bottom: 5px;
  margin-top: 5px;
}
.cc-username {
  font-size: 14px;
  cursor: pointer;
}
.cc-date {
  font-size: 14px;
  margin-left: 10px;
}
.cc-report {
  font-size: 12px;
  margin-left: 15px;
  cursor: pointer;

  color: rgb(150, 148, 148);
}
.cc-report:hover {
  color: rgb(52, 62, 65);
}
.delete:hover {
  color: red;
}
.cc-reply-text {
  font-size: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  color: rgb(59, 47, 47);
  background-color: rgb(232, 244, 255);
}
.cc-reply-user {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
}
.cc-reply-desc {
  font-size: 12px;
  margin-right: 5px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 25px;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.cc-desc {
  font-size: 18px;
  margin-top: 10px;
  font-family: Outfit;
}
.cc-desc-main {
  margin-top: 10px;
  line-height: 25px;
}
.cc-bottom {
  display: flex;
  font-size: 12px;
  font-family: Outfit;
  color: rgb(163, 163, 163);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
