.practice {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.practiceTop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar {
  border-radius: 20px;
  flex: 5;
  margin-left: 50px;
  margin-right: 50px;
  height: 25px;
  padding: 5px;
  border-width: 1px;
  border-color: rgb(184, 184, 184);
}
.searchBar:focus {
  outline-color: rgb(77, 200, 209);
}
.practiceTopOption {
  flex: 2;
}
