.ml-top {
  display: flex;
  width: 850px;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}
.ml-top-1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  background-color: aqua;

  height: 150px;
  position: relative;
}

.ml-top-1-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  position: absolute;
  filter: brightness(70%);
  transition: all 0.25s ease-in-out;
}
.ml-top-1-img:hover {
  filter: brightness(40%);
}

.ml-top-1-text {
  object-fit: cover;
  position: absolute;
  top: 70%;
  left: 5%;
  font-family: Outfit;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.ml-top-1-like {
  object-fit: cover;
  position: absolute;
  top: 55%;
  left: 5%;
  font-family: Outfit;
  padding: 4px;
  color: white;
  border-radius: 10px;
  background-color: rgb(216, 122, 0);
  font-size: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.ml-top-1-icon {
  color: white;
  font-size: 7px;
  margin-right: 5px;
}
